.on-map {
    position: absolute;
    z-index: 100;
}

.map-button {
    width: 35px;
    height: 35px;
    text-align: center;
}

.leaflet-clickable {
  cursor: crosshair !important;
}

.leaflet-container {
  cursor: help !important;
}

input {
    margin: 20px 0 0 20px;
    width: 300px;
    height: 35px;
    border: 2px solid rgba(77, 156, 237, 0.7);
    font-size: 16px;
    font: rgb(142, 142, 142);
}

#goto {
    margin: 20px 0 0 330px;
	width: 35px;
    height: 35px;
    text-align: center;
}
